.cabal-sandbox/
cabal.sandbox.config
cabal.config
dist
*.o
*.hi
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
*.swp
*.swo
*~
*.hi
src/Parser/LexHopper.hs
src/Parser/ParHopper.hs
src/Parser/DocHopper.tex
src/Parser/DocHopper.txt
src/Parser/ErrM.hs
src/Parser/SkelHopper.hs
src/Parser/TestHopper.hs
*.bak
.#*
\#*#
